@import "../../../theme/index.scss";

.vast-network {
  background-color: #f9fafd;
  padding: 60px 0;
  text-align: center;
  h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    color: #1e8fc6;
    font-style: normal;
  }
  article {
    font-style: normal;
    /* font-weight: 300; */
    font-size: 15px;
    line-height: 30px;
    color: #000 !important;
    margin-bottom: 35px;
  }
  .video-section {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 60px 114px #ecf2f8;
  }
  // display: flex;
  // justify-content: space-between;

  // @media screen and (max-width: 500px) {
  //   flex-direction: column;
  //   font-size: 14px;
  // }

  // .left-section {
  //   width: 347px;
  // }

  // iframe {
  //   border-radius: 30px;

  //   @media screen and (max-width: 500px) {
  //     width: 100%;
  //     height: 190px;
  //     margin-top: 30px;
  //     border-radius: 10px;
  //   }
  // }
}
