.modal_remove_btn {
  background-color: #2a84b3;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}

.modal_cancel_btn {
  background-color: #eee;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
}

.modal_footer {
  text-align: center;
  width: 100%;
}

.modal_footer button {
  margin: 0 5px 0 5px;
}

.modal_header {
  padding-bottom: 5px !important;
}

.modal_header h2 {
  text-align: center;
  font-size: 16px;
}

.bookmark_header {
  background-color: #07293d;
  padding: 45px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookmark_header img {
  width: 50px;
}

.bookmark_header .bookmark_label {
  margin-left: 20px;
}

.bookmark_header .bookmark_label h3 {
  color: #fff;
  font-size: 20px;
}

.bookmark_header .bookmark_label span {
  color: #fff;
  font-size: 14px;
}

.all_bookmarks {
  margin-top: 100px;
}

.bookmarks {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 75px;
}

.bookmarks .bookmark_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  max-width: 200px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .bookmarks .bookmark_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.bookmarks .bookmark_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 200px);
          flex: 0 0 calc(100% - 200px);
  padding: 0 15px;
  max-width: calc(100% - 200px);
  position: relative;
}

@media (max-width: 767px) {
  .bookmarks .bookmark_info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}

.bookmarks .info h4 {
  font-size: 22px;
  font-weight: 600;
}

.bookmarks .info .origin {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.bookmarks .notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bookmarks .notes p {
  font-size: 14px;
  margin-top: 5px;
}

.bookmarks .notes button {
  background-color: #2a84b3;
  padding: 0 15px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  margin-left: auto;
  height: 50px;
  line-height: 50px;
}

.bookmarks .star_color svg path {
  fill: #fbdc65;
}

.bookmarks .remove_bookmark {
  position: absolute;
  top: -50px;
  background-color: #07293d;
  height: 50px;
  width: 50px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  right: 10px;
}

@media (max-width: 767px) {
  .bookmarks .remove_bookmark {
    top: -170px;
  }
}

.bookmarks .remove_bookmark svg {
  fill: #fff;
}

.profile_section {
  position: relative;
}

.profile_section .anonymous_Review {
  text-align: center;
}

.profile_section .anonymous_Review h4 {
  color: #fff;
  font-size: 17px;
}

.profile_section .anonymous_Review span {
  color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 13px 45px;
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block;
}

.cancel_btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  background-color: #2a84b3;
  color: #fff;
  padding: 10px 30px;
}

.save_btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  background-color: #07293d;
  color: #fff;
  padding: 10px 30px;
}

.save_btn:disabled {
  opacity: 0.8;
}
/*# sourceMappingURL=index.css.map */