.card_details_block {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 25px;
  border-radius: 5px;
}

.card_details_block h3 {
  font-size: 17px;
}

.card_details_block p {
  font-size: 14px;
}

.buy_now_btn_prmotion {
  background-color: #2a84b3;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  margin: 0 0 0 15px;
  display: inline-block;
}

.buy_now_btn {
  background-color: #2a84b3;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 25px;
}

.terms {
  font-size: 14px;
  margin: 0;
}

.card_info {
  -webkit-box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.single-plan {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.single-plan .plan-top {
  background-image: url("../../images/services/plan_top.png");
  background-size: 100% 100%;
  margin: -25px -25px 0 -25px;
  padding: 25px 25px 155px 25px;
  text-align: center;
  color: #fff;
  min-height: 300px;
}

.single-plan .plan-top .title {
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 19px;
  color: #fff;
}

.single-plan .plan-top .description {
  color: #fff;
  font-size: 15px;
}

.single-plan .plan-price {
  height: 100px;
  width: 100px;
  color: #fff;
  background-color: #2a84b3;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  line-height: 130px;
  margin-top: -105px;
  margin-bottom: 35px;
}

.single-plan .plan-price span {
  line-height: 23px;
  font-size: 17px;
  display: inline-block;
  color: #fff;
}

.single-plan .plan-price span span {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.single-plan .plans-features li {
  list-style: none;
  margin-bottom: 15px;
  position: relative;
  padding-left: 30px;
}

.single-plan .plans-features li img {
  width: 20px;
  left: 0;
  position: absolute;
  top: 2px;
}

.single-plan .select-btn {
  background-color: #2a84b3;
  color: #fff;
  padding: 13px 35px;
  border-radius: 4px;
}

.single-plan .select-btn a {
  text-decoration: none !important;
  color: #fff !important;
}

.promobox {
  padding: 20px 0;
}

.promobox h3 {
  font-size: 20px;
}
/*# sourceMappingURL=index.css.map */