.custom-modal {
  .custom-modal-header {
    border: none !important;
    padding: 30px 30px 0 25px !important;

    .close {
      font-size: 18px !important;
      color: #777 !important;
    }

    .close:hover {
      color: #000 !important;
    }
  }

  .custom-modal-body {
    padding: 24px 24px 16px !important;

    p.help-message {
      text-align: center;
      padding: 10px 0px 0px 0px !important;
    }

    .claim-company-form {
      font-size: 14px;
      .domain-msg-error {
        color: red !important;
        font-size: 14px;
      }
      button.success {
        display: none;
      }
      div.not-success {
        display: none;
      }
      div.success {
        color: #4bc0b9;
        padding: 10px;
        display: block;
        text-align: center;
        float: none;
      }
      label {
        font-size: 13px;
        margin-bottom: -5px !important;
      }
      input[type='text'],
      input[type='email'] {
        border-radius: 0px;
        padding: 0px;
        border: none;
        border-bottom: 1px solid #d2d2d2 !important;
      }
      input[type='text']:focus,
      input[type='email']:focus,
      input[type='text']:active,
      input[type='email']:active {
        box-shadow: none !important;
        border-bottom: 2px solid #2a84b3 !important;
      }
      .share-buttons {
        float: right;
        .copied {
          color: #4bc0b9;
          padding: 5px;
          text-align: center;
          background: transparent;
          border: none;
        }
        .reclaim_popover_btn.copy-link {
          color: #fff;
          padding: 12px 30px;
          height: 45px;
          transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
            background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          will-change: box-shadow, transform;
          box-shadow: 0 1px 2px 0 rgba(44, 79, 97, 0.14),
            0 2px 1px -2px rgba(58, 98, 119, 0.2),
            0 1px 12px 3px rgba(64, 72, 76, 0.12);
        }
        .reclaim_popover_btn.copy-link:hover {
          box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42),
            0 4px 23px 0 rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(153, 153, 153, 0.2);
        }

        .linkedIn-share {
          font-size: 0.75rem !important;
          // height: 40px !important;
          line-height: 1.42857143 !important;
          text-transform: uppercase;
          letter-spacing: 0;
          border-radius: 0.2rem !important;
          vertical-align: middle !important;
          // padding: 12px 30px 12px 70px !important;
          margin-right: 1rem;
          // color: #fff;
          padding: 12px 30px;
          // transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
          //   background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          // will-change: box-shadow, transform;
          background-color: #006097 !important;
        }
      }

      p.share-or {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #d2d2d2;
        line-height: 0.1em;
        margin: 10px 0 20px;

        span {
          background: #fff;
          padding: 0 25px;
          color: #545454;
        }
      }
    }
  }

  h4 {
    font-size: 1.125rem !important;
    line-height: 1.5em !important;
  }

  a {
    color: #2a84b3 !important;
    padding-left: 5px;
  }
}

.modal-content {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2),
    0 40px 77px 0 rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  border: 0;
}

.modal-backdrop {
  opacity: 0.1 !important;
}

.reason-formgroup {
  .reason-textarea {
    min-height: 110px;
    max-height: 110px;
    background-image: linear-gradient(
        to top,
        #b7b6b6 0px,
        rgba(42, 132, 179, 0) 2px
      ),
      linear-gradient(to top, #b7b6b6 1px, rgba(210, 210, 210, 0) 1px);
    border: none;
    padding-left: 0px;
    padding-top: 0px;
  }
  .reason-textarea:focus,
  .reason-textarea:active {
    border: none !important;
    box-shadow: none !important;
  }
  .reason-formlabel {
    pointer-events: none;
    transition: 0.3s ease all;
  }
  .reclaim_popover_btn.report-popover-btn {
    padding: 11px 17px;
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: 0.2rem;
    margin-top: 15px;
    float: right;
    margin-bottom: 30px;
  }
  .share {
    float: right;
  }
  .textarea-counter {
    float: right;
    color: gray;
  }
}

.reason-formgroup.is-focused {
  .reason-textarea {
    background-image: linear-gradient(
        to top,
        #2a84b3 2px,
        rgba(42, 132, 179, 0) 2px
      ),
      linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    border: none;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
  }
  .reason-formlabel {
    color: #2a84b3 !important;
  }
}

.reclaim_popover_btn.submit-claim-btn {
  color: #fff;
  background-color: #2a84b3;
  border-color: #2a84b3;
  padding: 12px 30px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow, transform;
  box-shadow: 0 1px 2px 0 rgba(44, 79, 97, 0.14),
    0 2px 1px -2px rgba(58, 98, 119, 0.2), 0 1px 11px 8px rgba(64, 72, 76, 0.12);
}
.reclaim_popover_btn.submit-claim-btn:hover {
  box-shadow: 0 4px 7px 0 rgba(44, 79, 97, 0.14),
    0 8px 5px -2px rgba(58, 98, 119, 0.2),
    0 5px 11px 10px rgba(64, 72, 76, 0.12);
}
.tags {
  font-size: 12px;
  list-style: none;
  display: inline;
}
.tags-input {
  .remove {
    cursor: pointer;
  }
}
.react-tag-input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0px;
  .react-tag-input__input {
    font-size: 13px;
  }
}
.is-invalid {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.valid {
  display: none;
}
.success-share {
  color: #4bc0b9;
  font-size: 20px;
  padding: 10px;
  float: right;
}
.share-span {
  padding-right: 20px;
  padding-left: 10px;
  text-align: center;
}
