@import "../../../theme/index.scss";

.proficiency_statics {
  &.proficiency_statics_bg {
    background-color: #f9fafd;
  }
  .proficiency_statics_top {
    background-color: $primary-darker;
  }
  h1 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
  }
  h2 {
    font-size: 21px;
    font-weight: 700;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
  }
  h5 {
    &.proficiency_step {
      margin-top: 45px;
      margin-bottom: 20px;
      color: $primary-color;
      font-size: 17px;
      line-height: 25px;
      font-weight: 600;
    }
  }
  p {
    font-size: 14px;
    line-height: 25px;
  }
  ul {
    li {
      font-size: 14px;
      line-height: 25px;
      list-style-position: inside;
    }
  }
  .readmore_btn {
    background-color: transparent;
    font-weight: 600;
    color: $primary-color;
  }
  .search_list {
    ul {
      li {
        list-style-position: inside;
        ul {
          margin-left: 15px;
        }
      }
    }
  }
}
