.footer-fix {
  margin-left: 256px;
  background-color: #f0f2f5;
}
.top-fix {
  margin-left: 256px;
}
@media (max-width: 1199.98px) {
  .header-top,
  .footer-fix {
    margin-left: 0;
  }
  .top-fix {
    margin-left: 0;
  }
}
