$primary-color: #2a84b3;
$primary-darker: #07293d;
$secondary-color: #2ab39e;
$tertiary-color: #b32a83;
$light-color: #f4f4f4;

$dark-text: #000;
$dark-text2: #062640;
$dark-text3: #ced4da;
$dark-lighter-text: #333;
$light-text: #fff;
$light-darker-text: #777;

$light-background: #fff;

$section-margin: 70px;
$color7: #fbdc65;