@import "../../theme/index.scss";

.star_color {
  font-size: 15px;
  margin-right: 4px;
  svg {
    path {
      fill: $color7;
    }
  }
}

.hs-search-and-profile {
  position: relative;

  .company-profile {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: 1;
  }
}

.search_page {
  width: 100%;
  height: 100%;
  position: relative;

  .writeReview {
    h3 {
      font-weight: 500;
      font-size: 18px;
      margin: 50px auto 70px;
      max-width: 800px;
      color: #000;
    }
  }

  .map-wrapper {
    height: 355px;
  }

  .bg_search {
    width: inherit;
    border-radius: 10px;
    height: 255px;
  }
  .notOwner-error {
    color: #2a84b3;
    text-align: center;
    font-size: 25px;
  }
}

.search_box_bg {
  background-color: $primary-darker;
  padding: 40px 0;
}

.company_not_found {
  background-color: #f5f5f5;
  padding: 40px 0;
  text-align: center;
  margin-top: 50px;
  h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    color: #474747;
    font-size: 14px;
  }
  a {
    background-color: $primary-color;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin: 0 auto;
    display: inline-block;
  }
}

.map-wrapper {
  position: relative;
  min-height: 500px;
}
