@import "../../theme/index.scss";
@import "../../theme/variable.scss";

.contact_bg {
  background-image: url("../../images/contact/contact_bg.png");
  background-color: $primary-darker;
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-us {
  margin-bottom: 100px;
  margin-top: -80px;

  .contact_info_section {
    @media screen and (max-width: 500px) {
      .col-md-3 {
        margin-top: 105px;
      }
    }
    .contact_card {
      text-align: center;
      background-color: $light-background;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      padding: 15px;
      height: 100%;
      cursor: pointer;

      &.active {
        background: #eee;
      }

      .contact_img_wrapper {
        height: 150px;
        width: 150px;
        line-height: 150px;
        margin: 0 auto;
        text-align: center;
        border-radius: 50%;
        background-color: $light-background;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-top: -95px;
        margin-bottom: 25px;

        &.active {
          background: #eee;
        }

        img {
          height: 70px;
          width: 70px;
        }
      }
      h5 {
        text-transform: uppercase;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 15px;
      }
    }
  }

  .contactus_form {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 25px;
    margin-top: 25px;

    label {
      font-weight: 600;
      font-size: 14px;
    }
  }

  .contact_form_section {
    // background-color: #F5F5F5;
    .contact_form_title {
      background-color: $primary-darker;
      padding: 25px;
      border-radius: 10px;
      margin-top: 35px;
      display: flex;
      align-items: center;

      h1 {
        font-size: 25px;
        margin-left: 25px;
        color: #fff;
        margin-bottom: 0;
        font-size: 20px;
      }

      img {
        height: 50px;
        width: 50px;
      }
    }

    .contactus_form {
      button {
        background-color: $primary-color;
        color: #fff;
        padding: 12px 35px;
        border-radius: 3px;
      }
    }
  }

  .section-1 {
    // * {
    //   color: #fff;
    // }

    margin-top: -200px;
    padding-top: 250px;
    padding-bottom: 60px;
    background-color: #00293d;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      margin-top: -280px;
    }

    .hs-card {
      max-width: 279px;

      .img-wrapper {
        background: #ddeef7;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 25.47px;
          height: 26.81px;
          color: white;
        }

        margin-bottom: 21px;
      }

      .active {
        background-color: #1e8fc6;
      }

      h5 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        text-transform: uppercase;

        color: #ffffff;
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        /* or 187% */

        color: #ffffff;
      }
    }
  }

  .section-2 {
    margin-top: 130px;
    margin-left: 120px;
    display: flex;
    // display: none;
    // justify-content: space-evenly;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      margin-top: 50px;
      margin-left: 20px;
      margin-right: 20px;
    }

    h1 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 37px;
      /* identical to box height */

      color: #2d3338;
      margin-bottom: 32px;
    }

    .left {
      @media screen and (max-width: 500px) {
        margin: auto;
      }
    }

    .img-wrapper {
      width: 182px;
      height: 182px;
      background: #1e8fc6;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 500px) {
        margin: auto;
      }

      svg {
        width: 49px;
        height: 52px;
        // background: #ffffff;
      }
    }

    .form {
      margin-left: 84px;
      @media screen and (max-width: 500px) {
        margin-left: 0;
        margin-top: 50px;
      }

      .form-inner {
        display: flex;
        @media screen and (max-width: 500px) {
          flex-direction: column;
        }
      }
      input {
        background: #ffffff;
        border: 2px solid #e8e8e8;
        box-sizing: border-box;
        box-shadow: 0px 20px 50px rgba(103, 103, 103, 0.05);
        padding: 10px;
        margin-left: 30px;
        margin-bottom: 26px;
        @media screen and (max-width: 500px) {
          margin-left: 0;
        }
      }

      textarea {
        background: #ffffff;
        border: 2px solid #e8e8e8;
        box-sizing: border-box;
        box-shadow: 0px 20px 50px rgba(103, 103, 103, 0.05);
        margin-left: 30px;
        padding: 10px;
        width: 94%;
        @media screen and (max-width: 500px) {
          margin-left: 0;
          width: 100%;
        }
      }

      button {
        margin-left: 30px;
        margin-top: 20px;
        width: 94%;
        background-color: #1e8fc6;
        color: #fff;
        padding: 8px 0;
        @media screen and (max-width: 500px) {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}
